@using Azure.Core;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergsCarRental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergsCarRental.styles.css" asp-append-version="true" />
</head>
<body>
    @{

        var adminCookie = Context.Request.Cookies["adminCookie"];
        var customerCookie = Context.Request.Cookies["customerCookie"];
    }


    <header>
        <nav id="main-navigation" class="navigation">
            <a class="friberg-logo-link" asp-area="" asp-page="/Index">
                <img class="friberg-logo" src="~/css/friberg_logo.png" alt="logo" width="200px" />
            </a>
            <ul class="navigationbar">
    
                @if (!string.IsNullOrEmpty(customerCookie))
                {
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Users/CustomerPage">MINA SIDOR</a>
                    </li>
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Users/CustomerCarIndex">BILAR</a>
                    </li>
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Bookings/CustomersBookingIndex">MINA BOKNINGAR</a>
                    </li>
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Users/Login">LOGGA UT</a>
                    </li>
                }

                else if (!string.IsNullOrEmpty(adminCookie))
                {
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Users/AdminPage">MINA SIDOR</a>
                    </li>
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Users/Login">LOGGA UT</a>
                    </li>
                }

                else
                {
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Cars/CarIndex">BILAR</a>
                    </li>
                    <li>
                        <a class="navigationlink" asp-area="" asp-page="/Users/Login">LOGGA IN/SKAPA KONTO</a>
                    </li>
                }

            </ul>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FribergsCarRental - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>