@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />  <br /> 
    <h2>Välkommen till Friberg Car Rentals – din partner för problemfri biluthyrning!</h2><br />

    <p>Upptäck vårt moderna fordonsutbud och flexibla hyresalternativ för att göra varje resa enkel och minnesvärd. <br />
    Boka din bil idag och upplev friheten!</p> <br />
</div>


