@page
@model FribergsCarRental.Pages.Bookings.CreateBookingModel

@{
    ViewData["Title"] = "CreateBooking";
}

<h1>CreateBooking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Booking.BookingId" type="hidden" />
            <div class="form-group">
                <label asp-for="Booking.StartDate" class="control-label"></label>
                <input asp-for="Booking.StartDate" class="form-control" />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndDate" class="control-label"></label>
                <input asp-for="Booking.EndDate" class="form-control" />
                <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Price" class="control-label"></label>
                <input asp-for="Booking.Price" class="form-control" />
                <span asp-validation-for="Booking.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
