@page
@model FribergsCarRental.Pages.Users.AdminPageModel

@{
    ViewData["Title"] = "AdminPage";
}

<h1>Welcome Admin!</h1>
<div>
<a asp-page="/Cars/CarIndex" asp-page-handler="OnGetCars">Bilar</a> |
<a asp-page="/Users/UserIndex" asp-page-handler="OnGetUsers">Kunder</a> |
@* <a asp-page="/Bookings/BookingIndex">Bokningar</a> *@
</div>
