@page
@model FribergsCarRental.Pages.Users.AdminPageModel

@{
    ViewData["Title"] = "AdminPage";
}

<h1>Welcome Admin!</h1>
<div>
<a asp-page="/Users/AdminCarIndex" asp-page-handler="OnGetCars">Bilar</a> |
<a asp-page="/Users/UserIndex" asp-page-handler="OnGetUsers">Kunder</a> |
<a asp-page="/Bookings/BookingIndex" asp-page-handler="OnGetBookings">Bokningar</a>
</div>
