@page
@model FribergsCarRental.Pages.Users.CreateModel

@{
    ViewData["Title"] = "CreateUser";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="TheUser.TheUserId" type="hidden" />
            <input asp-for="TheUser.IsAdmin" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TheUser.FirstName" class="control-label"></label>
                <input asp-for="TheUser.FirstName" class="form-control" />
                <span asp-validation-for="TheUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheUser.LastName" class="control-label"></label>
                <input asp-for="TheUser.LastName" class="form-control" />
                <span asp-validation-for="TheUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheUser.Email" class="control-label"></label>
                <input asp-for="TheUser.Email" class="form-control" />
                <span asp-validation-for="TheUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheUser.Password" class="control-label"></label>
                <input asp-for="TheUser.Password" class="form-control" />
                <span asp-validation-for="TheUser.Password" class="text-danger"></span>
            </div>
  @*           <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TheUser.IsAdmin" /> @Html.DisplayNameFor(model => model.TheUser.IsAdmin)
                </label>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Bookings/CustomerPage">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}