@page
@model FribergsCarRental.Pages.Users.CustomerPageModel

@{
    ViewData["Title"] = "CustomerPage";
}
<br /><br />
<h1>Välkommen @Model.UserFirstName! </h1>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
